<!doctype html>
<html lang="en">



<head>
	<meta charset="utf-8">
	<title>Page 2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>




<body>
	<div>
  		<h1>Page 2</h1>
		<p>Maybe I want a second page?</p>
	</div>
</body>


</html>
