<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Page2</title>


	<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">
	<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css" rel="stylesheet" type="text/css">
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>


<body>
	<div>
  		<h1>Resulting Plot for {{ ticker_symbol }}</h1>

  		<a href="/Page1">Go Back?</a>
  		
		{{ div|safe }}
		
   		{{ script|safe }}

		<br>
	</div>
</body>


</html>
