<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Page1</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>

  		<h1>Stock Plotter</h1>
  		<p>Hello, please complete this form to get a plot of the desired stock features:</p>

			<form id='Page1_Form' method='post' action='Page2'>
			 	<div>
			 		<p><b>Please provide the ticker symbol (e.g. GOOG) here:</b></p>
			    	<input type="text" id="ticker_symbol" name="ticker_symbol">
			 	</div>

			  	<br>
	  			<p>Next, please check the boxes to indicate what data should be displayed in the resulting plot:</p>

	  			<div>
	  				<input type="checkbox" id="closing" name="closing" value="closing">
	  				<label for="closing">Closing Price</label>
	  			</div>
	  			<div>
	  				<input type="checkbox" id="adj_close" name="adj_close" value="adj_close">
	  				<label for="adj_close">Adjusted Closing Price</label>
	  			</div>
	  			<div>
	  				<input type="checkbox" id="opening" name="opening" value="opening">
	  				<label for="opening">Opening Price</label>
	  			</div>
	  			<div>
	  				<input type="checkbox" id="adj_opening" name="adj_opening" value="adj_opening">
	  				<label for="adj_opening">Adjusted Opening Price</label>
			  	</div>

			  	<br>

			  	<input type='submit' value='Next' />
	
			</form>

		</div>
	</body>
</html>
