<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello, World! This is a test.</h1>
			<p>Can I change things?</p>
			<br>
			<p><b>that would be nice to know…</b></p>

			<form id='ticker_symbol' method='post' action='Page2'>	
	  		<p>Please provide the ticker symbol: <input type='text' name='ticker' /></p>

	  		<p>Done?</p>
	  		<input type='submit' value='NextButton' />

		</div>
	</body>
</html>
